<h1>レシピ一覧</h1>
<p>料理名</p>

  <% @recipes.each do |recipe| %>

    <p>画像</p>
    <% if recipe.image.attached? %>
      <%= image_tag recipe.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'no_image', size: "200x200" %>
    <% end %>

    <td><%= link_to recipe.title, user_recipe_path(recipe.id) %></td>
    <td><%= recipe.body %></td><br>
  <% end %>