<div class='container px-5 px-sm-0'>
	<div class='row'>
	  <div class='col-md-8 offset-md-1 mt-4'>
        <% users.each do |user| %>
          <p></p>
          <% if user.profile_image.attached? %>
            <%= image_tag recipe.image, size: "200x200" %>
          <% else %>
            <%= image_tag 'no_image', size: "200x200" %>
          <% end %>

          <%=  image_tag recipe.user.get_profile_image(50,50) %> <!--リンク追加する-->
        　<td><%= link_to recipe.title, user_recipe_path(recipe.id) %></td>
        　<% end %>
    </div>
