<div class='main-container'>
	<div class='row'>
	  <div class='mx-auto mt-4 mb-4' style='width: 500px;' >
      <h1>本当に退会しますか？</h1>
        <p>
          退会すると、会員登録情報や<br>
          これまでの投稿履歴が閲覧できなくなります。<br>
          退会する場合は、「退会する」をクリックしてください。
        </p>
        <p>
        <%= link_to "退会しない", edit_user_user_path(@user.id), :class => "btn btn-primary ms-3" %>
        <%= link_to "退会する", user_user_withdraw_path, method: :patch, :class => "btn btn-danger ms-3", data: { confirm: "本当に退会しますか？" }  %>
        </p>
    </div>
  </div>
</div>