
<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <head>
         <%= stylesheet_link_tag 'user/homes', media: 'all', 'data-turbolinks-track': 'reload' %>
      </head>
            <!--%= image_tag "vegetables-assortment-wooden-background-with-empty-clipboard.jpg", size:"800x400" %-->
    </div>
    <div class="col-lg-7">
      </br>
      <h3>レシピの検索・投稿サイトです</h3>
      <h3>レシピを探す</h3>
    </div>

  </div>
</div>