
<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <head>
         <%= stylesheet_link_tag 'user/homes', media: 'all', 'data-turbolinks-track': 'reload' %>
      </head>
    </div>

    <div class="col-lg-7">
      <div class="row">
        <div class="col-12">
          <h3>レシピの検索・投稿サイトです</h3>
        </div>
      </div>
      </br>
      <div class="row">
        <div class="col-12">

          <h5>会員登録をすることでレシピの検索・投稿ができます</h5>
        </div>
      </div>
    </div>

  </div>
</div>