<head>
<%= stylesheet_link_tag 'user/homes', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
    <div class="main-container">
        <h1>レシピの検索・投稿サイトです</h1>
        <!--%= image_tag "vegetables-assortment-wooden-background-with-empty-clipboard.jpg", size:"800x400" %-->
    </div>
